.form {
  margin: 10px auto;
  padding: 5px;
  width: 70%;
}

.form label {
  display: block;
  margin-bottom: 15px;
}

.form input {
  display: block;
  width: 180px;
  margin: 5px auto;
  margin-bottom: 10px;
  padding: 3px;
}

.form button {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}
